.liModule {
  border: 1px solid #DBDADA;
  margin:5px;
  width: 28px;
  height: 28px;
  border-radius: 5px;
}

#pageLink {
  text-decoration: none;
  color:#a1a0a0;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  
}
.active {
  background-color: #b8a17d;
  color:#ffff;
}
.pagination {
  display: flex;
  justify-content: end;
  list-style-type : none;
}