.container{
    display: flex;
}
.imageCuriosity{
    width: 50%;
}
.descMission{
    width: 50%;
    margin: 0 20px;
}
.imgModule{
    width: 100%;
}

.otherViewButton{
    background-color: #ded6c9;
    border: 0;
    margin-right :10px;
    padding: 15px;
    border-radius: 5px;
    
}